*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header nav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 12vh;
    color: #f6c99d;
    font-family: 'Courgette', cursive;
    line-height: 12vh;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #a36231, #753d1c, #753d1c, #a36231);
}
.dark header nav{
    color: #84a2be;
    background-image: linear-gradient(to right, #02063f,  #02044b, #041460, #011a7c);
}
header nav .img{
    display: flex;
    background-color: #658030;
    width: 50pt;
    height: 50pt;
    border: 1pt solid #f6c99d;
    border-radius: 25pt;
    margin-right: 2vw;
    background-image: url(assets/logo.png);
    background-size: 125% 125%;
    background-position: center center;
    background-repeat: no-repeat;
}
header nav .home{
    width: 30vw;
    display: flex;
    flex-direction: row;
    font-size: 50pt;
    color: #bd956d;
    cursor: default;
}
.dark header nav .home{
    color: #245685;
}
header nav a{
    width: 30vw;
    font-size: 30pt;
    color: #f6c99d;
    text-decoration: none;
}
.dark header nav a{
    color: #84a2be;
}
header nav a:hover{
    color: #bd956d;
    text-decoration: underline;
}
.dark header nav a:hover{
    color:#245685;
}
header nav .button{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50pt;
    height: 50pt;
    border-radius: 50pt;
    background-color: white;
    border: 3pt solid black;
    text-align: center;
    line-height: 50pt;
}
.dark header nav .button{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50pt;
    height: 50pt;
    border-radius: 50pt;
    background-color: black;
    border: 3pt solid white;
    text-align: center;
    line-height: 50pt;
}
header nav .button:hover{
    background-color: black;
    border: 3pt solid black;
    cursor: pointer;
}
.dark header nav .button:hover{
    background-color: white;
    border: 3pt solid white;
    cursor: pointer;
}
header nav .button span{
    font-size: 25pt;
}
header nav .button span.theme::after{
    content: "🌚";
}
.dark header nav .button span.theme::after{
    content: "🌞";
}
.dark header nav {
    color: white;
    background-color: black;
    transition: 0.5s ease;
}
section.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 190vh;
    background-image: radial-gradient(#e8bd4a,  #f8cb68, #ffcd5a, #fff5bf);
    border: 5pt solid #498b49;
    border-radius: 50pt;
    color: #3e467c;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12vh;
}
.dark section.content{
    background-image: radial-gradient(#000329,  #000238, #010c44, #000e44);
    border: 5pt solid #84a2be;
    color: #9b9fbf;
}
section.content section.hero img{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80vw;
    height: auto;
    box-shadow: 0 0 4pt 4pt #20243f;
    margin-bottom: 5vh;
}
.dark section.content section.hero img{
    box-shadow: 0 0 4pt 4pt #9b9fbf;
}
section.content section.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}
section.content section.container img{
    width: 20vw;
    height: auto;
    margin-right: 5vh;
    box-shadow: 0 0 2pt 2pt #20243f;
}
.dark section.content section.container img{
    box-shadow: 0 0 2pt 2pt #9b9fbf;
}
section.content section.container section.text h5{
    width: 145vh;
    height: auto;
    font-size: 40pt;
    margin-bottom: 2vh;
}
section.content section.container section.text p{
    width: 145vh;
    height: auto;
    font-size: 25pt;
    letter-spacing: 3pt;
    margin-bottom: 4vh;
}
section.content section.container section.text .twibbon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 10vh;
    height: 15vh;
}
section.content section.container section.text .twibbon a{
    width: 10vw;
    font-weight: bold;
    height: auto;
    color: #658030;
    text-decoration: none;
    font-size: 10pt;
}
.dark section.content section.container section.text .twibbon a{
    color: #84a2be;
}
section.content section.container section.text .twibbon a:hover{
    color: #465921;
    text-decoration: underline;
}
.dark section.content section.container section.text .twibbon a:hover{
    color: #245685;
}
section.content section.container section.text .twibbon img{
    width: 7.5vw;
    height: auto;
    box-shadow: 0 0 3pt 3pt #856b2e;
    margin: 0 auto;
}
.dark section.content section.container section.text .twibbon img{
    box-shadow: 0 0 3pt 3pt #9b9fbf;
}
@media only screen and (max-width: 992px){
}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 600px){
}