*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header nav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    color: #f6c99d;
    font-family: 'Courgette', cursive;
    line-height: 12vh;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #a36231, #753d1c, #753d1c, #a36231);
}
.dark header nav{
    color: #84a2be;
    background-image: linear-gradient(to right, #02063f,  #02044b, #041460, #011a7c);
}
header nav .img{
    display: flex;
    background-color: #658030;
    width: 50pt;
    height: 50pt;
    border: 1pt solid #f6c99d;
    border-radius: 25pt;
    margin-right: 2vw;
    background-image: url(assets/logo.png);
    background-size: 125% 125%;
    background-position: center center;
    background-repeat: no-repeat;
}
header nav .rundown{
    width: 30vw;
    display: flex;
    flex-direction: row;
    font-size: 50pt;
    color: #bd956d;
    cursor: default;
}
.dark header nav .rundown{
    color: #245685;
}
header nav a{
    width: 30vw;
    font-size: 30pt;
    color: #f6c99d;
    text-decoration: none;
}
.dark header nav a{
    color: #84a2be;
}
header nav a:hover{
    color: #bd956d;
    text-decoration: underline;
}
.dark header nav a:hover{
    color:#245685;
}
header nav .button{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50pt;
    height: 50pt;
    border-radius: 50pt;
    background-color: white;
    border: 3pt solid black;
    text-align: center;
    line-height: 50pt;
}
.dark header nav .button{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50pt;
    height: 50pt;
    border-radius: 50pt;
    background-color: black;
    border: 3pt solid white;
    text-align: center;
    line-height: 50pt;
}
header nav .button:hover{
    background-color: black;
    border: 3pt solid black;
    cursor: pointer;
}
.dark header nav .button:hover{
    background-color: white;
    border: 3pt solid white;
    cursor: pointer;
}
header nav .button span{
    font-size: 25pt;
}
header nav .button span.theme::after{
    content: "🌚";
}
.dark header nav .button span.theme::after{
    content: "🌞";
}
.dark header nav {
    color: white;
    background-color: black;
    transition: 0.5s ease;
}
section.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 190vh;
    background-image: radial-gradient(#e8bd4a,  #f8cb68, #ffcd5a, #fff5bf);
    border: 5pt solid #498b49;
    border-radius: 50pt;
    color: #f6c99d;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    margin-top: 12vh;
    letter-spacing: 2pt;
}
.dark section.container{
    background-image: radial-gradient(#000329,  #000238, #010c44, #000e44);
    border: 5pt solid #84a2be;
    color: #9b9fbf;
}
section.container section.hero img{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80vw;
    height: auto;
    box-shadow: 0 0 4pt 4pt #20243f;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.dark section.container section.hero img{
    box-shadow: 0 0 4pt 4pt #9b9fbf;
}
section.container .rundown{
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 2vh;
}
section.container .rundown .top, section.container .rundown .bottom{
    display: grid;
    box-shadow: 0 0 2pt 2pt #4a2612;
    background-color: #a36231;
    font-size: 9pt;
}
.dark section.container .rundown .top, .dark section.container .rundown .bottom{
    box-shadow: 0 0 2pt 2pt #62678a;
    background-color: #070e36;
}
section.container .rundown .day-1, section.container .rundown .day-2{
    display: grid;
    grid-template-columns: auto auto auto auto
}
section.container .title{
    display: grid;
    grid-template-columns: auto;
    color: #b66a1e;
    background-color: #fbca86;
    border: 1.5pt solid #753d1c;
}
.dark section.container .title{
    color: #84a2be;
    background-color: #070e36;
    border: 1.5pt solid #62678a;
}
section.container .number .box{
    width: 1vw;
    height: 2.5vh;
    line-height: 2.5vh;
    border: 1.5pt solid #753d1c;
}
.dark section.container .number .box{
    border: 1.5pt solid #62678a;
}
section.container .time .box{
    width: 10vw;
    height: 2.5vh;
    line-height: 2.5vh;
    border: 1.5pt solid #753d1c;
}
.dark section.container .time .box{
    border: 1.5pt solid #62678a;
}
section.container .location .box{
    width: 20vw;
    height: 2.5vh;
    line-height: 2.5vh;
    border: 1.5pt solid #753d1c;
}
.dark section.container .location .box{
    border: 1.5pt solid #62678a;
}
section.container .name .box{
    width: 40vw;
    height: 2.5vh;
    line-height: 2.5vh;
    border: 1.5pt solid #753d1c;
}
.dark section.container .name .box{
    border: 1.5pt solid #62678a;
}