*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.25vh;
}
body{
    background-image: linear-gradient(to right, #a36231, #753d1c, #753d1c, #a36231);
}
header nav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    color: #f6c99d;
    font-family: 'Courgette', cursive;
    line-height: 12vh;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to right, #a36231, #753d1c, #753d1c, #a36231);
}
header nav .img{
    display: flex;
    background-color: #658030;
    width: 10vh;
    height: 10vh;
    border: 0.5vh solid #f6c99d;
    border-radius: 5vh;
    margin-right: 2vh;
    background-image: url(logo.png);
    background-size: 125% 125%;
    background-position: center center;
    background-repeat: no-repeat;
}
header nav .rundown{
    width: 50vh;
    display: flex;
    flex-direction: row;
    font-size: 8vh;
    color: #bd956d;
    cursor: default;
}
header nav a{
    width: 50vh;
    font-size: 5vh;
    color: #f6c99d;
    text-decoration: none;
}
header nav a:hover{
    color: #bd956d;
    text-decoration: underline;
}
section.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 190vh;
    background-image: radial-gradient(#e8bd4a,  #f8cb68, #ffcd5a, #fff5bf);
    border: 1vh solid #498b49;
    border-radius: 5vh;
    color: #f6c99d;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    margin-top: 12vh;
}
section.container section.hero img{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 180vh;
    height: auto;
    box-shadow: 0 0 1vh 1vh #20243f;
    margin-bottom: 5vh;
    margin-top: 3vh;
}
section.container .rundown{
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 1vh;
}
section.container .rundown .top, section.container .rundown .bottom{
    display: grid;
    box-shadow: 0 0 0.5vh 0.25vh #4a2612;
    background-color: #a36231;
    font-size: 1.5vh;
}
section.container .rundown .day-1, section.container .rundown .day-2{
    display: grid;
    grid-template-columns: auto auto auto auto
}
section.container .title{
    display: grid;
    grid-template-columns: auto;
    color: #b66a1e;
    background-color: #fbca86;
    border: 0.25vh solid #753d1c;
}
section.container .number .box{
    width: 2.5vh;
    height: 2.5vh;
    line-height: 1.5vh;
    border: 0.25vh solid #753d1c;
}
section.container .time .box{
    width: 25vh;
    height: 2.5vh;
    line-height: 1.5vh;
    border: 0.25vh solid #753d1c;
}
section.container .location .box{
    width: 50vh;
    height: 2.5vh;
    line-height: 1.5vh;
    border: 0.25vh solid #753d1c;
}
section.container .name .box{
    width: 75vh;
    height: 2.5vh;
    line-height: 1.5vh;
    border: 0.25vh solid #753d1c;
}